/*font-family: 'League Gothic', sans-serif;*/
/*font-family: 'Rubik Dirt', cursive;*/
/*font-family: 'Rubik Wet Paint', cursive;*/
* {
    font-family: 'Rubik Mono One', cursive;
    box-sizing: border-box;
}


body {
    background-color: #40494f;

}

.company {
    font-family: 'Rubik Dirt', cursive;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #5b5858;
    /*text-decoration: underline;*/
}

.picture-text {
    font-family: 'Rubik Dirt', cursive;
}

.images {
    height: 175px;
    width: 200px;
    border-radius: 8%;
    margin-bottom: 20px;
}


.container-header {
    display: flex;
}

.form-container {
    padding-bottom: 15px;
}

.dropdown-toggle {
    margin-right: 5px;
}

.input-coffee {
    text-align: center;
    margin-right: 5px;
}

.card-title {
    color: #090909;
    opacity: 0.7;
    /*text-shadow: 2px 2px 4px #5b5858*/
}

.card-text {
    opacity: 0.6;
}

.coffee-card {
    background-color: lightgray;
    text-align: center;

}